<section id="books">
<div class="container">
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4" *ngFor= "let item of recipes.recipes">
    <div class="card_book" >
      <div class="card" style="background-color: #ebefd0">
        <div class="card-body text-center">
          <p>
            <img class="img-fluid" src="{{item.image}}" alt="{{item.name}}" width="170px">
          </p>
          <h4  class="card-title">{{item.name}}</h4>
          <p class="card-text text-justify">
            {{item.description}}
          </p>
          <div>
            <a [routerLink]="['/receta', item.id]" class="btn btn-block btn-primary" style="background-color: #309286" >Ver Detalles</a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
</div>
</section>
z