<section id="books">
<div class="container">

<div class="m-5">
  <div class="col-xs-12 col-center mx-5" *ngFor= "let item of recipes.recipes, index as i">
    <br>
    <div class="card_book" >
      <div class="card" style="background-color: #ebefd0">
        <div class="card-body text-center">
          <p>
            <img class="img-fluid" src="{{item.image}}" alt="{{item.name}}" width="170px">
          </p>
          <h4  class="card-title">{{item.name}}</h4>
          <p class="card-text text-center">
            {{item.description}}
          </p>
          <div>
            <a [routerLink]="['/receta', i]" class="btn btn-block btn-primary">Ver Detalles</a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
</div>
</section>
